<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<title>Game - Hello</title>
</head>

<body>
	<div>
		Welcome to the game! <br>
		ID: {{id}}
	</div>

	<script src="/socket.io/socket.io.js"></script>

	<script data-main="js/game" src="js/modules/require.js"></script>

</body>
</html>
